{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %} {% endblock %}
        <meta charset="utf-8">
        <meta name='description' content='Professional Website Developer'>
        <meta name='keywords' content='HTML5, CSS3, Bootstrap, JavaScript, Django'>
        <meta name='author' content='Akeem Lagundoye'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel='shortcut icon' type='image/png' href="">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    
        <link rel="stylesheet" href="./fontawesome/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Kelly+Slab&family=Righteous&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Anaheim&family=Permanent+Marker&display=swap" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Quicksand:wght@500&display=swap' rel='stylesheet'>
            <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="css/mdb.lite.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="css/style.min.css" rel="stylesheet">
            <link href='../../static/css/index.css' rel="stylesheet">
            <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

	<script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript">
         new WOW().init();
    setTimeout(function(){
  $('body').addClass('loaded');
}, 2000);
$(window).on('load', function(){
		     $("#loader").fadeOut("slow");
		   });

    </script>
    </head>
        <style>

        </style>
    </head>
    <body>
        <div class="content">
            <div class="loader-wrapper">
              <div class="loader"></div>
              <div class="loader-section section-left"></div>
              <div class="loader-section section-right"></div>
            </div>
        </div>
        <header style='margin-bottom:3rem;'>
            <nav class="navbar fixed-top navbar-expand-lg  mb-5 scrolling-navbar">
                <div class="container-fluid">
                    <!-- Brand -->
                    <a class="navbar-brand mr-5" href="index.html">
                        <div class='text-inner' style='display:inline-block;height:auto;'><h5 style='color:#002e5b;font-size:28px;text-align: left; font-weight:900; '><i class="fas fa-robot"></i>  <strong>Brains</strong><h style='opacity: 0.95;color:#c43963;'></style>media</h5></div>
                    </a>
                    
                    <a class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-align-left fa-lg"></i></span>
                    </a>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Left -->
                        <ul class="navbar-nav mx-auto" style='text-transform:uppercase;color:#002e5b;font-weight:800;text-decoration: none;line-height:10px;'>
                            <li class="nav-item item"> <a class="nav-link" href="index.html" style='text-transform:uppercase;color:#002e5b;'>Events</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#ModalWarning" href="#" style='text-transform:uppercase;color:#002e5b;'>Demo</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#modalContactForm" href="#" style='text-transform:uppercase;color:#002e5b;'>Services</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" href="./templates/pricing.html" style='text-transform:uppercase;color:#002e5b;'>Pricing</a>
                            </li>
                        </ul>
                        <!-- Right -->
                        <ul class="navbar-nav nav-icons mx-auto"  style='text-transform:uppercase;font-weight:800;text-decoration: none;line-height:10px;'>
                            <li class="nav-item login">
                                <a href="./templates/login2.html" class="nav-link" style='text-transform:uppercase;color:#002e5b;' >sign in
                                </a>
                            </li>
                            <li class="nav-item signup">
                                <a href="./templates/signup1.html" class="nav-link" style='text-transform:uppercase;'>Sign up now
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <footer class="footer-section" style='margin-top:0rem;'>
            <div class="container-fluid">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row wow fadeIn">
                        <div class="col-xl-3 col-md-6 my-3">
                            <div class="single-cta ml-3"> <i class="fas fa-map-marker-alt" style=' background-color:white;color:#c43963;padding:12px 15px;border-radius: 10px;margin-top:-2px;'></i>
                                <div class="cta-text">
                                    <h4 style='font-size:16px;'>Find us</h4>
                                    <span>Lagos, Nigeria</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 my-3">
                            <div class="single-cta ml-3"> <i class="fas fa-phone" style='background-color:white;color:#c43963;padding:12px 15px;border-radius: 10px;margin-top:-2px;'></i>
                                <div class="cta-text">
                                    <h4 style='font-size:16px;'>Call us</h4>
                                    <span>+234 8061 3895 94</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 my-3">
                            <div class="single-cta ml-3"> <i class="far fa-envelope-open" style='background-color:white; color:#c43963;padding:12px 15px;border-radius: 10px;margin-top:-2px;'></i>
                                <div class="cta-text">
                                    <h4 style='font-size:16px;'>Mail us</h4>
                                    <span>support@aicodings.online</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 my-3">
                            <div class="single-cta ml-3"> <i class="fab fa-facebook" style='background-color:white; color:#c43963;padding:12px 14px;border-radius: 10px;margin-top:-2px;'></i>
                                <div class="cta-text">
                                    <h4 style='font-size:16px;'>Chat us</h4>
                                    <a href='https://wa.me/2349050562160'><span>+234 9023211729</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a class="navbar-brand" href="index.html">
                                        <div class='logo ml-2'>
                                            <div class='text-inner' style='width:220px;height:auto;margin:3px 1px 20px 0;'><h5 style='color:white;font-size:26px;text-align: left; font-weight:600; padding: 4px;'><i class="fas fa-robot"></i>  <strong>Brains</strong><h style='opacity: 0.4;'></style>media</h5></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="footer-text">
                                    <p>Our team grows day by day. We focus on delivering qualitative services. Our goal is straightforward and pleasant. Bent upon client's objectives to suit your needs.</p>
                                </div>
                                <div class="footer-social-icon"> <span class='footer-widget-heading'>
                                    <h3>Follow us</h3>
                                    <a href="https://www.fb.me/aicodings.inc" rel="nofollow"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                    <a href="https://www.twitter.com/AILagundoye" target="_blank"><i
                        class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="https://www.gitlab.com/Aifedayo" target="_blank"><i class="fab fa-gitlab gitlab-bg"></i></a>
                                    <a href="https://www.github.com/zainabaderinmola" target="_blank"><i
                        class="fab fa-github github-bg"></i></a>
                                    <a href="https://www.instagram.com/aicodings.inc" target="_blank"><i
                        class="fab fa-instagram instagram-bg mt-3"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading mt-2">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                    <li><a href="#carousel-example-1z">Home</a>
                                    </li>
                                    <li><a class='' data-toggle="modal" data-target="#ModalWarning" href="#">about</a>
                                    </li>
                                    <li><a href="./templates/pricing.html">Pricing</a>
                                    </li>
                                    <li><a class='' data-toggle="modal" data-target="#ModalWarning" href="#">About us</a>
                                    </li>
                                    <li><a href="#services">Our Services</a>
                                    </li>
                                    <li><a href="#">Expert Team</a>
                                    </li>
                                    <li><a class='' data-toggle="modal" data-target="#modalContactForm" href="#">Contact us</a>
                                    </li>
                                    <li><a class='' data-toggle="modal" data-target="#sideModalTLInfo" href="#">Latest News</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Email Address"> <a href='#' type='submit' class='sub'><i class="fab fa-telegram-plane"></i></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2020, All Right Reserved <h style='color:white;font-size:16px; font-weight:600;margin-left:20px;'><i class="fas fa-robot"></i>  <strong>Brains</strong><h style='opacity: 0.4;'></style>media</h>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                            <div class="footer-menu">
                                <ul>
                                    <li class='card-title1'><a href="#">Home</a>
                                    </li>
                                    <li class='card-title1'><a href="#">Terms</a>
                                    </li>
                                    <li class='card-title1'><a href="#">Privacy</a>
                                    </li>
                                    <li class='card-title1'><a href="#">Policy</a>
                                    </li>
                                    <li class='card-title1'><a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
            
    </body>
</html>